h1
{ 
    color: brown;
    font-size: 40px;
    text-align: center;
}

h2
{
    color: green
}

p
{
    font-size: 16px;
    font-weight: bold;
    
}

body {
    margin: 100px;
    background-color: cornsilk;
    
}

img{
    border-radius: 50%;
    max-width: 50%;
    height: auto;
}

a:link, a:visited {
  background-color: blue;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: blue;
}
